<component name="libraryTable">
  <library name="logback-classic-1.5.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/Lib/logback-classic-1.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Lib/logback-core-1.5.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/Lib/slf4j-api-2.0.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>